:root {
    --red: #c40000;
    --gray: #2b2b2b;
    --navy: rgb(29, 55, 92); /* #1d375c */
}

/*-------------------------------------------LARGE OR GENERAL STUFF-------------------------------------*/

.test {
    border: 2px solid red;
}

body {
    font-family: 'Cabin', sans-serif;
    color: var(--gray);
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.shadowBox {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    border-radius: 1%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.footer {
    position: relative;
    max-width: 1024px !important;
    margin: auto;
    color: #555 !important;
    background-color: inherit !important;
    overflow: hidden;
    margin-top: 50px;
    border-top: 1px solid #555;
    font-size: 11px;
    padding-bottom: 50px;
    padding-top: 10px;
}

    .footer a {
        padding-left: 1em;
        padding-right: 1em;
        color: #555;
    }

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.blueBanner {
    background: var(--navy);
    color: white;
    border-bottom: 4px solid var(--red);
    padding: 5px 0 5px 0;
}

/*-------------------------------------------IMG STUFF-------------------------------------*/
.Danlogo {
    float: left;
    padding: 10px;
    height: 70px;
}

.paymentLogos {
    max-width: 2vw;
    max-height: 2vw;
    display: flex;
    align-items: center;
}

    .paymentLogos > img {
        max-width: 100%;
    }

/*-------------------------------------------FONT STUFF-------------------------------------*/
h5 {
    color: var(--red);
}


h2, h3, h4 {
    color: var(--navy) !important;
}


.red {
    color: var(--red);
}

.navy {
    color: var(--navy);
}

/*-------------------------------------------BUTTON STUFF-------------------------------------*/
.btn {
    color: #fff !important;
    background-image: linear-gradient(rgba(113,0,0,1) 0%, rgba(196,0,0,1) 100%);
    border-color: none;
    box-shadow: 2px 2px 6px #888888;
}

    .btn:hover {
        color: #fff;
        box-shadow: 5px 5px 8px #888888; 
        background-image: linear-gradient(rgba(196,0,0,1) 0%, rgba(113,0,0,1) 100%);
    }

    .btn:active {
        background-image: linear-gradient(rgba(113,0,0,1) 0%, rgba(196,0,0,1) 100%);
        box-shadow: none;
    }

a.btn {
    color: white !important;
}

.btn-gray {
    color: #fff;
    background-image: linear-gradient(to bottom, #283033, #8593A0);
    border-color: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}


    .btn-gray:hover {
        color: #fff;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, .4);
        transition: box-shadow .3s;
        background-image: linear-gradient(#8593A0, #283033);
    }

    .btn-gray:active {
        background-image: linear-gradient(#283033, #8593A0);
        box-shadow: none;
    }

/*-------------------------------------------FORM STUFF-------------------------------------*/
/*originally "form input" and "form label" rather than ".field > XXX" */
.field > input,
.field > label {
    position: relative;
    display: inline-block;
    width: 100%;
    transition: all 0.3s ease-in-out; /* adding animation */
}
/*originally "form label" rather than ".field > label" */
.field > label {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 5px 7px;
    top: 36px;
    z-index: 1; /* placing label behind input */
}

.radioContainer, .radioContainer label {
    top: 0px;
}

form input[type="text"],
form input[type="email"],
form input[type=date] {
    font-size: 1em;
    padding: 0 0 0 7px;
    z-index: 10;
    background: transparent; /* adding transparency */
}

.filled label {
    top: 0;
    font-size: 0.8em;
}

.form-group {
    margin-bottom: .5rem !important;
}

textarea.form-control {
    height: 150px;
    min-height: 70px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

	
input[type=date]::-webkit-datetime-edit {
	color: transparent;
    }

input[type=date]:focus::-webkit-datetime-edit {
	color: black !important;
        }

input[type=date]:valid::-webkit-datetime-edit {
	color: black;
    }


.hiddenText {
    color: transparent !important;
}
/*-------------------------------------------RADIO BUTTON AND CHECKBOX STUFF-------------------------------------*/


.radioContainer {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 16px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

			/* Hide the browser's default radio button */
			.radioContainer input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
			}

		/* Create a custom radio button (the darkish circle) */
		.checkmark, .checkmarkSquare {
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 20px;
			background-color: #eee; /*light grayish-beige*/
			border-radius: 50%;
		}

		.checkmarkSquare {
			border-radius: 5% !important;
		}

		/* On mouse-over, add a dark grey background color */
		.radioContainer:hover input ~ .checkmark, .radioContainer:hover input ~ .checkmarkSquare {
			background-color: #ccc; /*darker gray, but not super dark*/
		}


		/* When the radio button is checked, add a white background and a boxshadow */
		.radioContainer input:checked ~ .checkmark, .radioContainer input:checked ~ .checkmarkSquare {
			background-color: #1D375C; /*our standard navy blue*/
			box-shadow: darkgray 2px 2px 8px;
		}


		/* Create the checkmark */
		.checkmark:after, .checkmarkSquare:after {
			content: ''; /*pretty checkmark. An actual checkmark. Not a rotated L or something*/
			display: none;
      position: absolute;
		}


		/* Show the checkmark when checked */
		.radioContainer input:checked ~ .checkmark:after, .radioContainer input:checked ~ .checkmarkSquare:after {
			display: block;
			margin-top: -1px; /*moves checkmark up and down for pretty checkmark (negative moves up, positive moves down)*/
			margin-left: 4px; /*moves checkmark left and right for pretty checkmark*/
		}

		/* Move the checkmark (and also style it a bit)  */
		.radioContainer .checkmark:after, .radioContainer .checkmarkSquare:after {
            left: 3px;
            top: 4px;
            width: 6px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
		}

/*-------------------------------------------PROCESSING/LOADING STUFF-------------------------------------*/
#loading {
    display: none;
}

.loader {
    height: 360px;
    width: 360px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 175px;
    padding-left: 50px;
    z-index: 1000;
    border-radius: 3%;
    background-color: white;
    border: 2px solid var(--navy);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .4);
}



.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

    .loader--dot:first-child {
        background-color: var(--navy);
        animation-delay: 0.5s;
    }

    .loader--dot:nth-child(2) {
        background-color: var(--navy);
        animation-delay: 0.4s;
    }

    .loader--dot:nth-child(3) {
        background-color: var(--navy);
        animation-delay: 0.3s;
    }

    .loader--dot:nth-child(4) {
        background-color: var(--navy);
        animation-delay: 0.2s;
    }

    .loader--dot:nth-child(5) {
        background-color: var(--navy);
        animation-delay: 0.1s;
    }

    .loader--dot:nth-child(6) {
        background-color: var(--navy);
        animation-delay: 0s;
    }

.loader--text {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
    z-index: 2000;
}

    .loader--text:after {
        content: "Processing";
        font-weight: bold;
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}

@keyframes loading-text {
    0% {
        content: "Processing";
    }

    25% {
        content: "Processing.";
    }

    50% {
        content: "Processing..";
    }

    75% {
        content: "Processing...";
    }
}

/*-------------------------------------------CAPTCHA-------------------------------------*/


#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}




/*-------------------------------------------SMALL SCREEN STUFF-------------------------------------*/

@media only screen and (max-width: 600px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}


/*------------------------------------------HEADER AND FOOTER---------------------------------------- */
/*------------------------------------------HEADER AND FOOTER---------------------------------------- */
/*------------------------------------------HEADER AND FOOTER---------------------------------------- */
/*------------------------------------------HEADER AND FOOTER---------------------------------------- */


/*------------------------------------------GENERAL BOXES AND STUFF---------------------------------------- */
.container-fluid.foot {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.test {
    border: 2px solid red;
}

/*------------------------------------------FONT STUFF---------------------------------------- */
.white {
    color: white;
}

/*------------------------------------------NAVIGATION STUFF---------------------------------------- */
nav {
    background: black;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar {
    padding-left: 10rem;
    padding-right: 10rem;
}

.nav-item {
    padding-left: .9rem;
    padding-right: .9rem;
}


.sidenav {
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            padding-left: 2em;
            color: white;
            text-decoration: none;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


/*------------------------------------------LINK STUFF---------------------------------------- */
a:hover.facebook {
    color: #3b5998;
}

a:hover.twitter {
    color: #38A1F3;
}

a:hover.youtube {
    color: #ff0000;
}

a:hover.rss {
    color: #EE802F;
}

.socialMedia a {
    color: #555;
    padding: .3em;
    font-size: 2rem;
}

nav a {
    color: white;
}

a.nav-link {
    font-size: 1.1rem;
}

/*------------------------------------------FOOTER STUFF---------------------------------------- */
.footerLinks {
    position: relative;
    margin: auto;
    background-color: inherit;
    overflow: hidden;
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer hr {
    border-color: var(--gray);
}

.footerLinks a {
    padding-left: 1em;
    padding-right: 1em;
    color: var(--gray);
    text-decoration: none;
}

    .footerLinks a:hover {
        text-decoration: underline;
    }

footer {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

    footer.row, .row.foot {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

.socialMedia {
    position: relative;
    padding: 1em;
}

/*------------------------------------------BUTTON STUFF---------------------------------------- */
.btn-dan {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(#434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--red);
    font-weight: 700;
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .btn-dan:hover {
        color: #8a0101;
    }

/*------------------------------------------FONT STUFF---------------------------------------- */



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

@media only screen and (max-width: 1400px) and (min-width: 1025px) {
    .navbar {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media only screen and (max-width: 1025px) {
    .navbar {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
